<%= tinymce_assets %>
<p id="notice"><%= notice %></p>

<div class = "row">

  
    <div class = "col-xs-4 col-sm-4">

      <div class = "well">
        
          <%= image_tag @book.book_img.url(:book_show), class: "book-show" %>
        
      </div>

    </div>
  
    <div class = "col-xs-8 col-sm-8">
      <div class = "well">
      <p>
        <strong>Title:</strong>
        <%= @book.title %>
      </p>
       <p>
        <strong>Author:</strong>
        <%= @book.author %>
      </p>

      <p>
        <strong>Average:</strong>
        <div class = "average-review-rating" data-score=<%= @average_review %>></div>
        <span> Based on <%= @book.reviews.count %> reviews</span>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @book.description.html_safe %>
      </p>
        <% if user_signed_in? %>

          <% if @book.user_id == current_user.id %>

          <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-primary" %> 
          <%= link_to 'Delete', book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %>
          
          <% end %>

      <% end %>
      
     
      </div>

    </div>

</div>

<div class = "row">
  
  <div class = "col-xs-4 col-sm-4">


  </div>
  <div class = "col-xs-4 col-sm-8">
    <div class = "well">
      <h1> Reviews</h1><br>
      <%= render @book.reviews %>
        <% if user_signed_in? %>
          <%= link_to 'Add Review', new_book_review_path(@book), class: "btn btn-info"%>
        <% end %>
    </div>

  </div>

</div>



<script>
    $('.review-rating').raty({
      readOnly: true,
      score: function(){
        return $(this).attr('data-score');

      },
      path: '/assets/'
    });

</script>

<script>
    $('.average-review-rating').raty({
      readOnly: true,
      score: function(){
        return $(this).attr('data-score');

      },
      path: '/assets/'
    });

</script>
	